USE [StudentBudgetDB]
GO
/****** Object:  Table [dbo].[Bugete]    Script Date: 06.02.2026 03:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bugete](
	[ID_Buget] [int] IDENTITY(1,1) NOT NULL,
	[ID_Student] [int] NOT NULL,
	[Suma_Maxima] [decimal](10, 2) NOT NULL,
	[Perioada] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Buget] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Bugete_Categorii]    Script Date: 06.02.2026 03:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bugete_Categorii](
	[ID_Buget] [int] NOT NULL,
	[ID_Categorie] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Buget] ASC,
	[ID_Categorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Categorii]    Script Date: 06.02.2026 03:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorii](
	[ID_Categorie] [int] IDENTITY(1,1) NOT NULL,
	[Nume_Categorie] [nvarchar](100) NOT NULL,
	[Tip] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Categorie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Conturi]    Script Date: 06.02.2026 03:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conturi](
	[ID_Cont] [int] IDENTITY(1,1) NOT NULL,
	[ID_Student] [int] NOT NULL,
	[Nume_Cont] [nvarchar](100) NOT NULL,
	[Balanta_Initiala] [decimal](10, 2) NOT NULL DEFAULT ((0.00)),
PRIMARY KEY CLUSTERED 
(
	[ID_Cont] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Studenti]    Script Date: 06.02.2026 03:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Studenti](
	[ID_Student] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](100) NOT NULL,
	[Prenume] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[Parola] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tranzactii]    Script Date: 06.02.2026 03:35:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tranzactii](
	[ID_Tranzactie] [int] IDENTITY(1,1) NOT NULL,
	[ID_Cont] [int] NOT NULL,
	[ID_Categorie] [int] NOT NULL,
	[Data] [datetime] NOT NULL DEFAULT (getdate()),
	[Suma] [decimal](10, 2) NOT NULL,
	[Descriere] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Tranzactie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Bugete] ON 

INSERT [dbo].[Bugete] ([ID_Buget], [ID_Student], [Suma_Maxima], [Perioada]) VALUES (1, 1, CAST(1000.00 AS Decimal(10, 2)), CAST(N'2025-11-01' AS Date))
INSERT [dbo].[Bugete] ([ID_Buget], [ID_Student], [Suma_Maxima], [Perioada]) VALUES (2, 4, CAST(500.00 AS Decimal(10, 2)), CAST(N'2025-11-01' AS Date))
INSERT [dbo].[Bugete] ([ID_Buget], [ID_Student], [Suma_Maxima], [Perioada]) VALUES (3, 5, CAST(800.00 AS Decimal(10, 2)), CAST(N'2025-11-01' AS Date))
SET IDENTITY_INSERT [dbo].[Bugete] OFF
INSERT [dbo].[Bugete_Categorii] ([ID_Buget], [ID_Categorie]) VALUES (1, 3)
INSERT [dbo].[Bugete_Categorii] ([ID_Buget], [ID_Categorie]) VALUES (1, 4)
INSERT [dbo].[Bugete_Categorii] ([ID_Buget], [ID_Categorie]) VALUES (1, 6)
SET IDENTITY_INSERT [dbo].[Categorii] ON 

INSERT [dbo].[Categorii] ([ID_Categorie], [Nume_Categorie], [Tip]) VALUES (1, N'Bursa', N'Venit')
INSERT [dbo].[Categorii] ([ID_Categorie], [Nume_Categorie], [Tip]) VALUES (2, N'Părinți', N'Venit')
INSERT [dbo].[Categorii] ([ID_Categorie], [Nume_Categorie], [Tip]) VALUES (3, N'Mâncare', N'Cheltuiala')
SET IDENTITY_INSERT [dbo].[Categorii] OFF
SET IDENTITY_INSERT [dbo].[Conturi] ON 

INSERT [dbo].[Conturi] ([ID_Cont], [ID_Student], [Nume_Cont], [Balanta_Initiala]) VALUES (1, 1, N'Card BCR', CAST(1500.00 AS Decimal(10, 2)))
INSERT [dbo].[Conturi] ([ID_Cont], [ID_Student], [Nume_Cont], [Balanta_Initiala]) VALUES (2, 1, N'Cash Portofel', CAST(150.00 AS Decimal(10, 2)))
INSERT [dbo].[Conturi] ([ID_Cont], [ID_Student], [Nume_Cont], [Balanta_Initiala]) VALUES (3, 2, N'Card ING', CAST(800.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Conturi] OFF
SET IDENTITY_INSERT [dbo].[Studenti] ON 

INSERT [dbo].[Studenti] ([ID_Student], [Nume], [Prenume], [Email], [Parola]) VALUES (1, N'Test', N'User', N'test@test.com', N'1234')
INSERT [dbo].[Studenti] ([ID_Student], [Nume], [Prenume], [Email], [Parola]) VALUES (2, N'Popa', N'Ana', N'ana.popa@student.com', N'parolaAna')
INSERT [dbo].[Studenti] ([ID_Student], [Nume], [Prenume], [Email], [Parola]) VALUES (3, N'Ionescu', N'Vasile', N'vasile.ionescu@gmail.com', N'vasile99')
SET IDENTITY_INSERT [dbo].[Studenti] OFF
SET IDENTITY_INSERT [dbo].[Tranzactii] ON 

INSERT [dbo].[Tranzactii] ([ID_Tranzactie], [ID_Cont], [ID_Categorie], [Data], [Suma], [Descriere]) VALUES (1, 1, 2, CAST(N'2025-11-01 10:00:00.000' AS DateTime), CAST(700.00 AS Decimal(10, 2)), N'Bani de la părinți')
INSERT [dbo].[Tranzactii] ([ID_Tranzactie], [ID_Cont], [ID_Categorie], [Data], [Suma], [Descriere]) VALUES (2, 1, 3, CAST(N'2025-11-03 12:30:00.000' AS DateTime), CAST(-45.50 AS Decimal(10, 2)), N'Prânz cantină')
INSERT [dbo].[Tranzactii] ([ID_Tranzactie], [ID_Cont], [ID_Categorie], [Data], [Suma], [Descriere]) VALUES (3, 1, 4, CAST(N'2025-11-05 08:15:00.000' AS DateTime), CAST(-80.00 AS Decimal(10, 2)), N'Abonament autobuz')
SET IDENTITY_INSERT [dbo].[Tranzactii] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Studenti__A9D105342668AE02]    Script Date: 06.02.2026 03:35:38 ******/
ALTER TABLE [dbo].[Studenti] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bugete]  WITH CHECK ADD FOREIGN KEY([ID_Student])
REFERENCES [dbo].[Studenti] ([ID_Student])
GO
ALTER TABLE [dbo].[Bugete_Categorii]  WITH CHECK ADD FOREIGN KEY([ID_Buget])
REFERENCES [dbo].[Bugete] ([ID_Buget])
GO
ALTER TABLE [dbo].[Bugete_Categorii]  WITH CHECK ADD FOREIGN KEY([ID_Categorie])
REFERENCES [dbo].[Categorii] ([ID_Categorie])
GO
ALTER TABLE [dbo].[Conturi]  WITH CHECK ADD FOREIGN KEY([ID_Student])
REFERENCES [dbo].[Studenti] ([ID_Student])
GO
ALTER TABLE [dbo].[Conturi]  WITH CHECK ADD  CONSTRAINT [FK85hpmnou1wqqylahojsbwbfhk] FOREIGN KEY([ID_Student])
REFERENCES [dbo].[Studenti] ([ID_Student])
GO
ALTER TABLE [dbo].[Conturi] CHECK CONSTRAINT [FK85hpmnou1wqqylahojsbwbfhk]
GO
ALTER TABLE [dbo].[Tranzactii]  WITH CHECK ADD FOREIGN KEY([ID_Categorie])
REFERENCES [dbo].[Categorii] ([ID_Categorie])
GO
ALTER TABLE [dbo].[Tranzactii]  WITH CHECK ADD FOREIGN KEY([ID_Cont])
REFERENCES [dbo].[Conturi] ([ID_Cont])
GO
ALTER TABLE [dbo].[Tranzactii]  WITH CHECK ADD  CONSTRAINT [FK7xqv7ntdbw4gnx3u0hf9dcqio] FOREIGN KEY([ID_Categorie])
REFERENCES [dbo].[Categorii] ([ID_Categorie])
GO
ALTER TABLE [dbo].[Tranzactii] CHECK CONSTRAINT [FK7xqv7ntdbw4gnx3u0hf9dcqio]
GO
ALTER TABLE [dbo].[Tranzactii]  WITH CHECK ADD  CONSTRAINT [FKdw9mbypxnb2694p2eocyursm8] FOREIGN KEY([ID_Cont])
REFERENCES [dbo].[Conturi] ([ID_Cont])
GO
ALTER TABLE [dbo].[Tranzactii] CHECK CONSTRAINT [FKdw9mbypxnb2694p2eocyursm8]
GO
ALTER TABLE [dbo].[Categorii]  WITH CHECK ADD CHECK  (([Tip]='Cheltuiala' OR [Tip]='Venit'))
GO
